{{!-- Jumbotron to display Header/Title of application --}}
<div class="jumbotron background-image text-center">
  <div class="container">
    <h4 class="display-4 text-white main-h2">Burger Tyme!</h4>
  </div>
</div>

{{!-- Container to hold input box and "add burger" button --}}
<div class="container">
  <div class="row text-center bg-light">
    <div class="card card-body">

      <form id="form" class="form-inline align-items-center">
        <div class="col-md-8">
          <div class="input-group md-2">
            <input type="text" id="addBurger" class="form-control" placeholder="Chef Suggestions?">
          </div>
        </div>

        <div class="col">
          <button type="submit" id="submitBurger" class="btn btn-primary submitBurger">Add Burger</button>
        </div>
      </form>

    </div>
  </div>
</div>

{{!-- Container, row and list group for added burgers and eaten burgers --}}
<div class="container">
  <div class="row mt-5">

    <div class="col-md-6">
      <h3 class="text-center">Burgers You've Added</h3>
      <div class="list-group">

        {{#each burgers}}
        {{#unless devoured}}
        <a href="#" class="list-group-item list-group-item-action">
          {{id}}. {{burger_name}}
          <button data-id="{{id}}" data-devoured="{{devoured}}" class='btn btn-warning ml-3'
            id="devourBurger">Devour</button>
        </a>
        {{/unless}}
        {{/each}}

      </div>
    </div>

    {{!-- Div, list group and handlebars syntax for eaten burgers --}}
    <div class="col-md-6">
      <h3 class="text-center">Devoured Burgers</h3>
      <div class="list-group">

        {{#each burgers}}
        {{#if devoured}}
        <a href="#" class="list-group-item list-group-item-action disabled">
          {{id}}. {{burger_name}}
          <i class="fas fa-hamburger"></i>
        </a>
        {{/if}}
        {{/each}}

      </div>
    </div>
  </div>
</div>